################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/packages
**/bin
**/obj/
**/node_modules
/Sources/OnlineShop.Web.Umbraco/wwwroot/dist/bundle.js
/Sources/OnlineShop.Web.Umbraco/App_Data
