################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/packages
/Sources/OnlineShop.Web/bin
/Sources/OnlineShop.Web/obj/Debug
/Sources/OnlineShop.Web/App_Data
